header{
    color: white;
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 183, 255);
    border: 2px solid rgba(49, 62, 136, 0.411);
    border-radius: 5px;
    grid-area: h;
    margin: 10px;
}


a:hover {
    background-color: rgb(56, 177, 177);
}
.cica {
    padding: 10px;
    background-color: rgb(75, 125, 199);
    grid-area: n;
    margin: 10px;
}
a{
    color: rgb(245, 181, 97);
    text-decoration: none;
    padding: 10px;  
}

section {
    background-color: rgb(0, 183, 255);
    border: 2px solid rgba(49, 62, 136, 0.411);
    border-radius: 5px;
    grid-areas: s;
    margin: 10px;
}
footer{
    grid-area: f;
    background-color: rgb(0, 183, 255);
    border: 2px solid rgba(49, 62, 136, 0.411);
    border-radius: 5px;
    margin: 10px;
    color: white;
    text-align: center;
}


body {
    margin: auto;
    max-width: 900px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "h h h"
    "n n n"
    "s s s"
    "s s s"
    "s s s"
    "f f f";
}

@media screen and (max-width: 775px){
    body {
    margin: auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "h h"
    "n n"
    "s s"
    "s s"
    "s s"
    "f f";
}
}

@media screen and (max-width: 500px){
    body {
    margin: auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "h"
    "n"
    "s"
    "s"
    "s"
    "s"
    "s"
    "s"
    "s"
    "s"
    "s"
    "f";
}
}